{% extends 'accounts/loginForm.html' %}

{% block label %}
    Reset your Password
{% endblock %}
{% block reset%}
    <div class="wrap-input100 validate-input" data-validate = "Password is required">
        <input class="input100" type="password" name="new_password" placeholder="New Password">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>

    <div class="wrap-input100 validate-input" data-validate = "Password is required">
        <input class="input100" type="password" name="conf_new_password" placeholder="Confirm New Password">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>
{% endblock %}


{% block button %}
    Reset Password
{% endblock %}

{% block forgot_pass %}
{% endblock %}